body {
    background-image: url(/img/keepup.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: #000000;
    /* Cor de fundo da página */
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    height: 100vh;
    /* Preenche a altura total da viewport */
    margin: 0;
    /* Remove a margem padrão */
    padding: 0;
    /* Remove o padding padrão */
}

h1 {
    color: aliceblue;
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */

    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: #fcf9fac0;
    /* Cor de fundo do pop-up */
    padding: 30px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Sombra */
    width: 800px;
    /* Largura do pop-up */
    margin: 0 auto;
    /* Centralizar o pop-up na página */
    z-index: 9999;
    /*define em qual camada o elemento estará. */


}

#img {
    width: 150px;
    height: 250px;
    border-radius: 50%;

}

.button{
    background-color: rgba(5, 5, 5, 0.205);
    color: aliceblue;
    text-decoration: none;
}